<!DOCTYPE html>
<html lang="en">

<!-- UCI Colors: Light Blue=#0366A3 , Dark Blue=#1B3E6B , Yellow=#FFD230 -->

<!-- Beginning of <head> -->
<head>
	<title>Game Catalog</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'landing/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<!-- Beginning of <body -->
<body class="body" style="background-color:#f6f6f6">

<!-- START CHANGING THINGS HERE-->

<div class="Container">
	<!-- For everything within "container-fluid, refer to "http://getbootstrap.com/docs/4.1/layout/grid/ for a better understanding -->
	<div class="container-fluid">
		<!--UCI Game Catalog Title-->
		<div class="row" style="background-color:#0366A3;">
            <div class="col-10">
					<a href="/"><img src="{% static 'gamepage/img/iconUCI.png' %}" class="responsive-img" style='max-height:50px; margin:20px' alt="iconUCI"></a>
			</div>

            <div class="col-2">
                <div class="search">
                    <form action="/game/">
                        <input type="text" class="searchTerm" placeholder="Search" style='margin-top:25px; margin-bottom:25px'>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
		</div>

		<!--Yellow Bar-->
		<div class="row" style="background-color:#FFD230; height:5px;"></div>

		<!--Space Between-->
		<div class="row" style="height:50px;"></div>
	</div>

	<div class="Content">

		<div class="Wrapper">
				<!-- Scroll Right Side-->
				<div class="RightContent">
					<div class="row">
						<div class="col-sm-2"></div> <!--col-sm-2-->

								<div class="col-sm-8" style="width:25px">

									<!--Space bottom of Game Box to hold Randomize Button and Title.-->
										<div class="row" style="height:50px; background-color:#0366A3;">
											{% block gameTitle %}
											{% endblock %}
						    		</div>

										<!--Yellow Bar-->
										<div class="row" style="background-color:#FFD230; height:2px;"></div>

										<!--Space to hold the 2 columns of Game Image and Game Desc-->
										<div class="row" style="height:250px;">

										<!--Game Image Side-->
										<div class="col-4" style="background-color:#ddd;">
												{% block gameImage %}
												{% endblock %}
										</div>

										<!--Game Desc Side-->
										<div class="col-8" style="background-color:#eee;">
											 {% block gameDesc %}
											 {% endblock %}
										</div>
									</div>
		  					</div>
							<!--To add space to the right side of Game Box-->
							<div class="col-sm-2"></div>

						<!-- SPACE ON BOTTOM -->
						<div class="row" style="height:200px; background-color:#eee"></div>
					</div>

					<!--Space Between-->
					<div class="row" style="height:50px;"></div>

					<div class="row"> <!--Row 2, below Row 1. Holds the Navigation Bar and Text Content-->
						<div class="col-2">
						</div>

						<div class="col-8">

							<div class="row" style="height:50px; background-color:#0366A3;">
								<h3 style="margin:5px;"><font color="#fff">
									Top 3 Viewed Games
								</font></h3>
							</div>

							<!--Yellow Bar-->
							<div class="row" style="background-color:#FFD230; height:2px;">
								<div class="col-12">
								</div>
							</div>

							<!--Space bottom of Game Box to hold Top Viewed Games-->
							<div class="row" style="height:200px;">
								<div class="col-4" style="background-color:#ccc;">
									{% block gameTopView1 %}
									{% endblock %}
								</div>
								<div class="col-4" style="background-color:#ddd;">
									{% block gameTopView2 %}
									{% endblock %}
								</div>
								<div class="col-4" style="background-color:#ccc;">
									{% block gameTopView3 %}
									{% endblock %}
								</div>
							</div>
						</div>

						<!--To add space to the right side of Game Box-->
						<div class="col-2"></div>

					</div>

				</div>
			</div>
		</div>
</div>

<script src="{% static 'landing/js/jquery-3.0.0.slim.js' %}"></script>
<script src="{% static 'landing/js/popper.js' %}"></script>
<script src="{% static 'landing/js/bootstrap.min.js' %}"></script>
</body>

</html>
