<!-- Using Jinja logic, extends will (starting at the templates directory)
extend header.html with any other html -->
{% extends "gamepage/header.html" %}

<!-- What we place in here will be placed in between the
{ block content } and { endblock } of header.html-->
{% block gameDesc %}
<p>Welcome to the UCI Game Catalog! <br> This is where game descriptions would go.
The {.% block "name" %.} that jinja reads depends if its the same "name". I
placed periods before the %s else it'll give me an error thinking I'm trying to
call jinja logic.</p>

<!-- This include is for short snippets of code that you want to include. This
is ideal in a case where you have multiple snippets of code you want included in
your main html you are extending from. This Jinja logic below will extend out to
every html code in the directory chosen, instead of you having to extend 1 by 1.-->
{% include "landing/includes/htmlsnippet.html" %}
{% endblock %}

{% block gameImage %}
<p>AN IMAGE IS SUPPOSE TO GO HERE! <br>
This text came from /landing/includes/gameImageTest.html</p>
{% endblock %}
