<!DOCTYPE html>
<html lang="en">

<!-- Beginning of <head> -->
<head>
	<title>Game Catalog</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'landing/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<!-- Beginning of <body -->
<body class="body" style="background-color:#f6f6f6">
  <!-- For everything within "container-fluid, refer to "http://getbootstrap.com/docs/4.1/layout/grid/ for a better understanding -->
	<div class="container-fluid" style="min-height:95%; ">
		<!--UCI Game Catalog Title-->
		<div class="row" style="background-color:#0366A3;">
			  <div class="col-12">
					<img src="{% static 'landing/img/iconUCI.png' %}" class="responsive-img" style='max-height:50px; margin:20px' alt="iconUCI">
			  </div>
		</div>

		<!--Yellow Bar-->
    <div class="row" style="background-color:#FFD230; height:5px;">
			<div class="col-12">
			</div>
		</div>

		<!--Space Between-->
		<div class="row" style="height:50px;">
			<div class="col-12">
			</div>
		</div>

		<!--Navigation & Content-->
		<div class="row"> <!--Row 2, below Row 1. Holds the Navigation Bar and Text Content-->
		  <div class="col-sm-2"> <!--Column container with Nav Bar-->
  		  <br><br>
  		  <!-- Great, til you resize. -->
  			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
  			<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
  			  <ul class="nav nav-pills nav-stacked">
  				<li><a href='/'>Home</a></li>
  				<li><a href='/blog/'>Blog</a></li>
  				<li><a href='/contact/'>Contact</a></li>
  			  </ul>
  			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->

			<!--How featured Game Box is styled. http://getbootstrap.com/docs/4.1/layout/grid/#nesting-->
      <div class="col-sm-8">
				<!--Space bottom of Game Box to hold Randomize Button and Title-->
				<div class="row" style="height:50px; background-color:#1B3E6B;">
    		</div>

				<!--Space to hold the 2 columns of Game Image and Game Desc-->
				<div class="row" style="height:250px; background-color:#1B3E6B; opacity:0.9">

					<!--Game Image Side-->
					<div class="col-5 col-sm-5">
						{% block gameImage %}
						{% endblock %}
					</div>

					<!--Game Desc Side-->
					<div class="col-5 col-sm-7">
						<div class='container-fluid'>
							<br><br>
							 {% block gameDesc %}
							 {% endblock %}
							 <br><br>
						</div>
					</div>
				</div>
		  </div>

			<!--To add space to the right side of Game Box-->
			<div class="col-sm-2">
			</div>

		</div> <!--Navigation & Content-->

		<!--Space Between-->
		<div class="row" style="height:50px;">
		</div>

		<div class="row"> <!--Row 2, below Row 1. Holds the Navigation Bar and Text Content-->
			<div class="col-sm-2">
			</div> <!--col-sm-2-->

			<div class="col-sm-8">
				<div class="row" style="height:50px; background-color:#1B3E6B;">
					<div class="col-5 col-sm-6">
					</div>
					<div class="col-5 col-sm-6">
						<div class='container-fluid'>
						</div>
					</div>
				</div>

				<!--Space bottom of Game Box to hold Top Viewed Games-->
				<div class="row" style="height:200px; background-color:#1B3E6B; opacity:0.9">
				</div>
			</div>

			<!--To add space to the right side of Game Box-->
			<div class="col-sm-2">
			</div>

		</div>

	</div>

	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>

</body>

</html>
